{% load movie_tag %}
<div class="main-banner bg bg1" id="home">
    <!-- header -->
    <header class="header">
        <div class="container-fluid px-lg-5">
            <!-- nav -->
            <nav class="py-4">
                <div id="logo">
                    <h1> <a href="{% url 'home' %}" class="editContent" style="outline: none; outline-offset: -2px; cursor: inherit; color: rgb(255, 255, 255); font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Source Sans Pro&quot;, sans-serif;">Django test project</a></h1>
                </div>
                <label for="drop" class="toggle">Menu</label>
                <input type="checkbox" id="drop">
                <ul class="menu mt-2">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>
                        <label for="drop-2" class="toggle">Categories <span class="fa fa-angle-down" aria-hidden="true" ></span> </label>
                        <a href="#">Categories <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                        <input type="checkbox" id="drop-2">
                        <ul>
                        {% get_categories as categories %}
                        {% for category in categories %}
                            <li><a href="{% url 'category_detail' category.url %}">{{ category.name }}</a></li>
                        {% endfor %}
                        </ul>
                    </li>
                    {% if user.is_authenticated %}
                    <li style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Hello, {{ user.username }}<li>
                    <li><a href="{% url 'account_logout' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Log out</a></li>
                    {% else %}
                    <li><a href="{% url 'account_login' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Log in</a></li>
                    <li><a href="{% url 'account_signup' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Registration</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
</div>